<form class="text-center border border-light p-2 mt-5 rounded white">
    <h2 class="card-title h2 text-center py-4">Lesson</h2>
    <div class="row no-gutters">
        <div class="col-lg-6 col-12 p-2 m-auto">
            <p class="font-weight-bold  mb-1 ">Lesson Type:</p>
            <select class="browser-default custom-select mb-4">
                <option value="1" selected>Lesson 3</option>
                <option value="2">Lesson 1 </option>
                <option value="3">Lesson 2 </option>
                <option value="4">Lesson 3 </option>
            </select>
        </div>
    </div>
    <table class="table table-hover mt-5 text-center table-bordered w-100 white">
        <thead class="black white-text">
            <tr>
                <th class="tableColSize" scope="col">No</th>
                <th class="tableColSize" scope="col">Date</th>
                <th class="tableColSize" scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="tableColSize" scope="row">1</th>
                <td class="tableColSize">
                    <input type="date" class="form-control" placeholder="Post Code">
                </td>
                <td class="tableColSize">
                    <input type="time" class="form-control" placeholder="Post Code">
                </td>
            </tr>
            <tr>
                <th class="tableColSize" scope="row">2</th>
                <td class="tableColSize">
                    <input type="date" class="form-control" placeholder="Post Code">
                </td>
                <td class="tableColSize">
                    <input type="time" class="form-control" placeholder="Post Code">
                </td>
            </tr>
            <tr>
                <th class="tableColSize" scope="row">3</th>
                <td class="tableColSize">
                    <input type="date" class="form-control" placeholder="Post Code">
                </td>
                <td class="tableColSize">
                    <input type="time" class="form-control" placeholder="Post Code">
                </td>
            </tr>
            <tr>
                <th class="tableColSize" scope="row">4</th>
                <td class="tableColSize">
                    <input type="date" class="form-control" placeholder="Post Code">
                </td>
                <td class="tableColSize">
                    <input type="time" class="form-control" placeholder="Post Code">
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-info my-3" type="submit">Submit</button>
</form>

