<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lesson </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/mdb.min.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../sidebar.css">
</head>

<body class="backgroundColor-1">

    <div id="sideBar"></div>

    <div class="rightSide mt-5">
        <div class="container-fluid">

            <div class="text-center border border-light p-2 mt-5 rounded white table-responsive text-nowrap">
                <p class="h4 my-4 font-weight-bold">Leave List</p>
                <table class="table table-hover mt-5 text-center table-bordered w-100 white table-hover">
                    <thead class="black white-text">
                        <tr>
                            <th class="tableColSize" scope="col">No</th>
                            <th class="tableColSize" scope="col">Name</th>
                            <th class="tableColSize" scope="col">ID</th>
                            <th class="tableColSize" scope="col">Reason</th>
                            <th class="tableColSize" scope="col">Leave Date</th>
                            <th class="tableColSize" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="tableColSize" scope="row">1</th>
                            <td class="tableColSize">CINDY </td>
                            <td class="tableColSize">M159159</td>
                            <td class="tableColSize">sick</td>
                            <td class="tableColSize">3-8-2019</td>
                            <td class="tableColSize">
                                <a href="../attendance/page_attendanceReplacement.html" class="btn btn-info py-0 px-1 my-0 mx-1 text-capitalize"> Replacement</a>
                            </td>
                        </tr>
                        <tr>
                            <th class="tableColSize" scope="row">2</th>
                            <td class="tableColSize">CINDY </td>
                            <td class="tableColSize">M159159</td>
                            <td class="tableColSize">sick</td>
                            <td class="tableColSize">3-4-2019</td>
                            <td class="tableColSize">
                                <a href="../attendance/page_attendanceReplacement.html" class="btn btn-info py-0 px-1 my-0 mx-1 text-capitalize"> Replacement</a>
                            </td>
                        </tr>
                        <tr>
                            <th class="tableColSize" scope="row">3</th>
                            <td class="tableColSize">CINDY </td>
                            <td class="tableColSize">M159159</td>
                            <td class="tableColSize">sick</td>
                            <td class="tableColSize">3-4-2019</td>
                            <td class="tableColSize">
                                <a href="../attendance/page_attendanceReplacement.html" class="btn btn-info py-0 px-1 my-0 mx-1 text-capitalize"> Replacement</a>
                            </td>
                        </tr>
                        <tr>
                            <th class="tableColSize" scope="row">4</th>
                            <td class="tableColSize">CINDY </td>
                            <td class="tableColSize">M159159</td>
                            <td class="tableColSize">sick</td>
                            <td class="tableColSize">3-4-2019</td>
                            <td class="tableColSize">
                                <a href="../attendance/page_attendanceReplacement.html" class="btn btn-info py-0 px-1 my-0 mx-1 text-capitalize"> Replacement</a>
                            </td>
                        </tr>
                        <tr>
                            <th class="tableColSize" scope="row">5</th>
                            <td class="tableColSize">CINDY </td>
                            <td class="tableColSize">M159159</td>
                            <td class="tableColSize">sick</td>

                            <td class="tableColSize">3-4-2019</td>
                            <td class="tableColSize">
                                <a href="../attendance/page_attendanceReplacement.html" class="btn btn-info py-0 px-1 my-0 mx-1 text-capitalize"> Replacement</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../../js/popper.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/mdb.min.js"></script>
    <script type="text/javascript" src="../../js/router.js"></script>
    <script type="text/javascript" src="../../js/sidebar.js"></script>
</body>

</html>